<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </haed>

  <body class="container body-background">
    <header class="padding row80">
      <h1 class="col-6"><a href="{{url_for('home_page')}}">Catalog App</a></h1>
      <div class="col-6">
        {% if credentials != None %}
          <a href="{{url_for('gdisconnect')}}"><button class="login-button">Logout</button></a>
          <p class="greeting">Welcome back, {{username}}</p>
        {% endif %}
      </div>
    </header>

    <main class="margin main-div row80 single-main">
      <h2 class="col-12">Delete {{item.name}}</h2>
      <p class="col-12">Are you sure you want to delete this item?</p>
      <form action="{{url_for('delete_item', item_id=item.id)}}" method="post" class="col-12">
        <input type="submit" value="Submit">
      </form>
    <main>
  </body>
</html>
