<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </haed>

  <body class="container body-background">
    <header class="padding row80">
      <h1 class="col-6"><a href="{{url_for('home_page')}}">Catalog App</a></h1>
      <div class="col-6">
        <a href="{{url_for('login')}}"><button class="login-button">Login</button></a>
      </div>
    </header>

    <main class="margin main-div row80">
      <div class="col-5">
        <h2 class="left10">Catagories</h2>
        <ul class="list-no-marks left10">
          <li class="click-list">test1</li>
          <li class="click-list">test2</li>
          <li class="click-list">test3</li>
          <li class="click-list">test4</li>
        </ul>
      </div>

      <div class="col-7 border-left">
        <h2 class="left10">Latest Items</h2>
        <ul class="list-no-marks left10">
          <li class="click-list">test1 <i class="catagory-ref">(catagory)</i></li>
          <li class="click-list">test2 <i class="catagory-ref">(catagory)</i></li>
          <li class="click-list">test3 <i class="catagory-ref">(catagory)</i></li>
          <li class="click-list">test4 <i class="catagory-ref">(catagory)</i></li>
        </ul>
      </div>
    <main>
  </body>
</html>
