<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </haed>

  <body class="container body-background">
    <header class="padding row80">
      <h1 class="col-6"><a href="{{url_for('home_page')}}">Catalog App</a></h1>
      <div class="col-6">
        {% if credentials == None %}
          <a href="{{url_for('login')}}"><button class="login-button">Login</button></a>
        {% endif %}
        {% if credentials != None %}
          <a href="{{url_for('gdisconnect')}}"><button class="login-button">Logout</button></a>
          <p class="greeting">Welcome back, {{username}}</p>
        {% endif %}
      </div>
    </header>

    <main class="margin main-div row80">
      <div class="col-5">
        <h2 class="left10">Catagories</h2>
        <ul class="list-no-marks left10">
          {% for catagory in catagories %}
            <li class="click-list">{{catagory.name}}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-7 border-left">
        <h2 class="left10">Latest Items</h2>
        {% if credentials != None %}
          <a href="{{url_for('add_item')}}" class="left10">Add an item</a>
        {% endif %}
        <ul class="list-no-marks left10">
          {% for i in items %}
            <li class="click-list">{{i.name}} <i class="catagory-ref">({{i.catagory_id}})</i></li>
          {% endfor %}
        </ul>
      </div>
    <main>
  </body>
</html>
