/*define the widths of divs*/
.container {
  margin: auto auto auto auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* Generic styles */
*  {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

header a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.body-background {
  background-color: #a8a8a8
}

.padding {
  padding: 10px 10%;
}

.margin {
  margin: 10px 10%;
  margin-right: 100px;
}

.row80 {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.left10 {
  position: relative;
  left: 10%;
}

.single-main {
  padding: 0 0 20px 20px;
}

/* Header styles */
header {
  background-color: #294860;
}

h1 {
  margin: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.greeting {
  color: #fff;
  float: right;
  margin: 8px 0 0 0;
}

/* Styling for the login button */
.login-button {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
  float: right;
  width: 100px;
  outline: none;
}

.login-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}

.login-button:active {
	position:relative;
	top:1px;
}

/* Main area styles */
h2 {
  font-family: 'Montserrat', sans-serif;
}

.main-div {
  background-color: #FFF;
  border-style: groove;
  border-width: 2px;
}

.list-no-marks {
  list-style-type: none;
  padding: 0;
}

.click-list {
  font-size: 17px;
}

.catagory-ref {
  color: #a8a8a8
}

/* Flash message div styles */
.flashes {
  text-align: center;
}

.flashes li {
  list-style-type: none;
  padding: 10px 0 0 0;
}

@media screen and (min-width: 734px) {
  .greeting {
    margin-right: 8px;
  }
}
